

/* NAVBAR */
.logo {
    width: 150px;
    margin-left: 2rem;
  }
  
  .barra-nav {
    background-color: #323255;
  }
  .navbar .navbar-nav .barra-link:hover {
    color: aliceblue;
  }
  
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .barra-link {
      padding: 1.44em 0.7em;
    }
    .navbar {
      padding: 1;
    }
    .navbar .navbar-brand {
      padding: 1 0.7em;
    }
  }
  .navbar .navbar-nav .barra-link {
    position: relative;
  }
  .navbar .navbar-nav .barra-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: aliceblue;
    color: transparent;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.3s;
  }
  .navbar .navbar-nav .barra-link:hover:after {
    width: 100%;
  }
  .barra-link {
    text-decoration: none;
    color: aliceblue;
  }
