.sec-img div:first-child {
    width: 595px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.sec-img div:nth-child(2) {
    width: 595px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.sec-img-opacidad-1 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    background: rgb(0, 0, 0, 0.5);
}

.sec-img-titulo1 h2 {
    top: 100px;
    position: absolute;
    color: #fff;
    align-items: center;
    font-weight: 700;
}
.sec-img :hover{
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}
.sec-img-opacidad-1 :hover{
    background: rgba(0, 0, 0, 0);
}

@media (max-width: 1400px) {
    .me-3 {
        margin-right: 0!important;
        margin-bottom:10px ;
    }
  }


