* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 254, 254);
}

/* NAVBAR */
.logo {
    width: 150px;
    margin-left: 2rem;
}

.barra-nav {
    background-color: #222250;
}
.navbar .navbar-nav .barra-link:hover {
    color: aliceblue;
}

@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .barra-link {
        padding: 1.44em 0.7em;
    }
    .navbar {
        padding: 1;
    }
    .navbar .navbar-brand {
        padding: 1 0.7em;
    }
}
.navbar .navbar-nav .barra-link {
    position: relative;
}
.navbar .navbar-nav .barra-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: aliceblue;
    color: transparent;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.3s;
}
.navbar .navbar-nav .barra-link:hover:after {
    width: 100%;
}
.barra-link {
    text-decoration: none;
    color: aliceblue;
}

/* link promociones */
.navbar .navbar-nav .barra-link1:hover {
    color: aliceblue;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .barra-link1 {
        padding: 1.44em 0.7em;
    }
    .navbar {
        padding: 1;
    }
    .navbar .navbar-brand {
        padding: 1 0.7em;
    }
}
.navbar .navbar-nav .barra-link1 {
    position: relative;
}
.navbar .navbar-nav .barra-link1::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: aliceblue;
    color: transparent;
    width: 0%;
    content: "";
    height: 3px;
    transition: all 0.4s;
}
.navbar .navbar-nav .barra-link1:link:after {
    width: 100%;
}
.barra-link1 {
    text-decoration: none;
    color: aliceblue;
}




/* header */
.container {
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}

.fondo-header {
    background-image: url(./header/fondo2.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.paralax {
    background: url(./header/maragogi3.jpg) no-repeat center;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 3px 3px;
}
.paralax2 {
    background: url(./header/1023070.jpg) no-repeat center;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 3px 3px;
}
.paralax3 {
    background: url(./header/Tropical-landscape-palm-trees-houses-sea-beach-stones_1920x1080.jpg) no-repeat center;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 3px 3px;
}

p {
    margin-top: 10px;
    text-indent: 15px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* seccion buscar */
.card-container {
    overflow: hidden;
}

.card-text {
    font-weight: 700;
    color: #3f78c3;
}

/* FOOTER */
/* explainer-footer */
.explainer-footer {
    background: rgb(34, 34, 80);
    background: linear-gradient(180deg, rgba(34, 34, 80, 1) 4%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 96%);
}

.explainer-footer img {
    height: 70px;
    vertical-align: middle;
    border: 0em;
}
.explainer-footer h2 {
    margin: 0em;
    font-weight: 600;
    padding: 5px 0;
    color: #222250;
    font-size: 15px;
}
.explainer-footer p {
    color: rgb(56, 46, 32);
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px;
}
.icons-foot a i {
    font-size: 35px;
    margin: 5px 6px;
    padding: 5px;
    color: #222250;
}
/* foooter-legal */
.footer-legal {
    background: rgb(34, 34, 80);
    background: linear-gradient(180deg, rgba(34, 34, 80, 1) 16%, rgba(0, 0, 0, 1) 100%);
    text-align: center;
    font-size: 20px;
    color: white;
}
.footer-legal a {
    text-decoration: none;
}
.coockies-a {
    color: rgb(228, 187, 133);
}
.coockies-a:hover {
    color: #ffffff;
}
/* footer-all */
.footer-all {
    background-color: #ffffff;
}
/* FORM-FOOT */
.input-foot {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #222250;
}

.input-foot:hover {
    transform: scale(105%);
}
.input-foot:active {
    outline: none;
}
.input-foot:focus {
    outline: none;
}
.button-foot {
    background-color: transparent;
    border: solid 2px #222250;
    border-radius: 1rem;
    transition: 0.4s;
}
.button-foot:hover {
    color: antiquewhite;
    background-color: #222250;
}

/*CONTACTO-FOOT*/
.icon-foot {
    text-align: end;
    font-size: 30px;
    color: #222250;
    padding: 0 2rem;
}

/* modal login */
.fondo-1 {
    background-image: url(./nabar/fondomodal.jpg);
    background-size: cover;
}
.slide-right {
    
    width: 500px;
    height: 300px;
}

.slide-right {
    -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
.btn-form {
    padding: 0;
    font-size: 15px;
}

.form-opacidad {
    
    padding-left: 50px;
    animation: opacidad 5s;
}

@keyframes opacidad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
