* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245, 0.836);
}

/* NAVBAR */
.logo {
  width: 150px;
  margin-left: 2rem;
}

.barra-nav {
  background-color: #222250;
}
.navbar .navbar-nav .barra-link:hover {
  color: aliceblue;
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .barra-link {
    padding: 1.44em 0.7em;
  }
  .navbar {
    padding: 1;
  }
  .navbar .navbar-brand {
    padding: 1 0.7em;
  }
}
.navbar .navbar-nav .barra-link {
  position: relative;
}
.navbar .navbar-nav .barra-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: aliceblue;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.3s;
}
.navbar .navbar-nav .barra-link:hover:after {
  width: 100%;
}
.barra-link {
  text-decoration: none;
  color: aliceblue;
}

/* link promociones */
.navbar .navbar-nav .barra-link1:hover {
  color: aliceblue;
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .barra-link1 {
    padding: 1.44em 0.7em;
  }
  .navbar {
    padding: 1;
  }
  .navbar .navbar-brand {
    padding: 1 0.7em;
  }
}
.navbar .navbar-nav .barra-link1 {
  position: relative;
}
.navbar .navbar-nav .barra-link1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: aliceblue;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.4s;
}
.navbar .navbar-nav .barra-link1:link:after {
  width: 100%;
}
.barra-link1 {
  text-decoration: none;
  color: aliceblue;
}

/* HEADER */
.sub-header h1 {
  color: aliceblue;
  font-family: "Bebas Neue", cursive;
  size: 40px;
  text-shadow: 0 0 20px rgb(0 0 0 / 80%);
}
.sub-header {
  background-image: url(./IMGProyecto/Navbar&Header/header-fiji.jpg);
  padding: 9rem 12px;
  text-align: center;
}

/* CARDS-OFERTAS */


/* ESTILO */
.poster-h2 {
  position: relative;
  left: 50%;
  bottom: 45%;
}
.poster-h2 h2 {
  color: aliceblue;
  font-family: "Bebas Neue", cursive;
  size: 20px;
  text-shadow: 0 0 20px rgb(0 0 0 / 80%);
}


/* HOVER EFFECTS */
.poster-img {
  min-height: 280px;
  filter: brightness(60%);
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 1rem;
}
.poster-h2 {
  transition: 0.5s ease;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.poster:hover .poster-img {
  filter: brightness(30%);
}
.poster:hover {
  cursor: pointer;
}


/* CARRUSEL DE IMAGENES */
.carrusel {
  box-shadow: 0px 0px 10px 10px #888888;
  padding: 0.5rem;
  background-color: cornsilk;
}
@media screen and (max-width: 992px) {
  .carrusel {
    box-shadow: 0px 0px 5px 5px #888888;
    margin: 1rem 0;
  }
}



/*  CARRUSEL  ESTILO */
.img-carrusel img {
  transition: 0.5s ease-in-out;
  filter: brightness(80%);
}
.img-carrusel div div {
  opacity: 0.8;
  font-size: 25px;
  text-shadow: 0 0 20px rgb(0 0 0 / 100%);
  transition: 0.5s ease-in-out;
}
.img-carrusel:hover img {
  filter: brightness(50%);
  cursor: pointer;
}
.img-carrusel:hover div div {
  opacity: 1;
  cursor: pointer;
}



/* Carrusel Text */
@media screen and (max-width: 480px) {
  .img-carrusel div div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


/* IMAGEN LATERAL */
.lateral {
  margin: 8px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.lateral figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.lateral figure img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transition: all 1s ease-in-out;
}
.div-lateral1:hover figure img {
  filter: brightness(50%);
  transform: scale(1);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.div-lateral2:hover figure img {
  filter: brightness(50%);
  transform: scale(1);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

/* Texto lateral position +estilo */
.lateral-h2 {
  text-align: center;
  position: relative;
  bottom: 68%;
  margin: 5px;
}
.lateral-h2 h2 {
  font-family: "Bebas Neue", cursive;
  size: 30px;
  text-shadow: 0 0 20px rgb(0 0 0 / 80%);
  z-index: 1;
  margin: 5px;
}
.lateral-h2 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*  hover effects */
.lateral-h2 {
  transition: 0.5s ease;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.div-lateral1:hover .lateral-h2 {
  opacity: 1;
  filter: brightness(150%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.div-lateral2:hover .lateral-h2 {
  opacity: 1;
  filter: brightness(150%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .div-lateral1 {
    height: 70%;
  }
}
@media screen and (max-width: 992px) {
  .div-lateral2 {
    height: 70%;
  }
}
@media screen and (max-width: 992px) {
  .lateral {
    align-items: center;
  }
}

/* FOOTER */

/* explainer-footer */
.explainer-footer {
  background: rgb(34, 34, 80);
  background: linear-gradient(180deg, rgba(34, 34, 80, 1) 4%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 96%);
}

.explainer-footer img {
  height: 70px;
  vertical-align: middle;
  border: 0em;
}
.explainer-footer h2 {
  margin: 0em;
  font-weight: 600;
  padding: 5px 0;
  color: #222250;
  font-size: 15px;
}
.explainer-footer p {
  color: rgb(56, 46, 32);
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 10px;
}
.icons-foot a i {
  font-size: 35px;
  margin: 5px 6px;
  padding: 5px;
  color: #222250;
}

/* foooter-legal */
.footer-legal {
  background: rgb(34, 34, 80);
  background: linear-gradient(180deg, rgba(34, 34, 80, 1) 16%, rgba(0, 0, 0, 1) 100%);
  text-align: center;
  font-size: 20px;
  color: white;
}
.footer-legal a {
  text-decoration: none;
}
.coockies-a {
  color: rgb(228, 187, 133);
}
.coockies-a:hover {
  color: #ffffff;
}

/* footer-all */
.footer-all {
  background-color: #ffffff;
}

/* FORM-FOOT */
.input-foot {
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #222250;
}

.input-foot:hover {
  transform: scale(105%);
}
.input-foot:active {
  outline: none;
}
.input-foot:focus {
  outline: none;
}
.button-foot {
  background-color: transparent;
  border: solid 2px #222250;
  border-radius: 1rem;
  transition: 0.4s;
}
.button-foot:hover {
  color: antiquewhite;
  background-color: #222250;
}

/*CONTACTO-FOOT*/
.icon-foot {
  text-align: end;
  font-size: 30px;
  color: #222250;
  padding: 0 2rem;
}

/* MODAL REGISTRO */

.fondo-1 {
  background-image: url(./imagenes/fondomodal.jpg);
  background-size: cover;
}
.slide-right {
  width: 500px;
  height: 300px;
}

.slide-right {
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.btn-form {
  padding: 0;
  font-size: 15px;
}

.form-opacidad {
  padding-left: 100px;

  animation: opacidad 5s;
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
