* {
  box-sizing: border-box;
 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245, 0.836);
 
}

/* NAVBAR */
.logo {
  width: 150px;
  margin-left: 2rem;
}

.barra-nav {
  background-color: #222250;
 
}
.navbar .navbar-nav .barra-link:hover {
  color: aliceblue;
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .barra-link {
    padding: 1.44em 0.7em;
  }
  .navbar {
    padding: 1;
  }
  .navbar .navbar-brand {
    padding: 1 0.7em;
  }
}
.navbar .navbar-nav .barra-link {
  position: relative;
}
.navbar .navbar-nav .barra-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: aliceblue;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.3s;
}
.navbar .navbar-nav .barra-link:hover:after {
  width: 100%;
}
.barra-link {
  text-decoration: none;
  color: aliceblue;
}

/* link VUELOS */
.navbar .navbar-nav .barra-link1:hover {
  color: aliceblue;
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .barra-link1 {
    padding: 1.44em 0.7em;
  }
  .navbar {
    padding: 1;
  }
  .navbar .navbar-brand {
    padding: 1 0.7em;
  }
}
.navbar .navbar-nav .barra-link1 {
  position: relative;
}
.navbar .navbar-nav .barra-link1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: aliceblue;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.4s;
}
.navbar .navbar-nav .barra-link1:link:after {
  width: 100%;
}
.barra-link1 {
  text-decoration: none;
  color: aliceblue;
}

/* HEADER */
.sub-header h1 {
  color: aliceblue;
  font-family: "Bebas Neue", cursive;
  size: 40px;
  text-shadow: 0 0 20px rgb(0 0 0 / 80%);
}
.sub-header {
  background-color: #222250;
  padding: 3rem;
  text-align: center;
}

/* seccion vuelos busqueda */
.vuelos-nav {
  background-color: #222250;
  padding: 5rem;
  text-align: center;
}


/* SECCION PRECIOS VUELOS*/
.cuadro-vuelos figure {
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.cuadro-vuelos figure img {
  transition: all 0.2s ease-in-out;
  filter: brightness(60%);
}
.fig-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fig-caption h3 {
  margin: 0;
}
.fig-caption h4 {
  margin: 5px 0 0;
}

/* EFECTO HOVER ZOOM IN  IMG */
.cuadro-vuelos figure:hover img {
  transform: scale(1.3);
}

/* NO ENCONTRASTE EL DESTINO QUE BUSCAS */
.button-buscar {
  background-color: transparent;
  border: solid 2px #222250;
  border-radius: 1rem;
  transition: 0.4s;
}
.button-buscar:hover {
  color: antiquewhite;
  background-color: #222250;
}

/* FOOTER */

/* explainer-footer */
.explainer-footer {
  background: rgb(34, 34, 80);
  background: linear-gradient(180deg, rgba(34, 34, 80, 1) 4%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 96%);
}

.explainer-footer img {
  height: 70px;
  vertical-align: middle;
  border: 0em;
}
.explainer-footer h2 {
  margin: 0em;
  font-weight: 600;
  padding: 5px 0;
  color: #222250;
  font-size: 15px;
}
.explainer-footer p {
  color: rgb(56, 46, 32);
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 10px;
}
.icons-foot a i {
  font-size: 35px;
  margin: 5px 6px;
  padding: 5px;
  color: #222250;
}

/* foooter-legal */
.footer-legal {
  background: rgb(34, 34, 80);
  background: linear-gradient(180deg, rgba(34, 34, 80, 1) 16%, rgba(0, 0, 0, 1) 100%);
  text-align: center;
  font-size: 20px;
  color: white;
}
.footer-legal a {
  text-decoration: none;
}
.coockies-a {
  color: rgb(228, 187, 133);
}
.coockies-a:hover {
  color: #ffffff;
}

/* footer-all */
.footer-all {
  background-color: #ffffff;
}

/* FORM-FOOT */
.input-foot {
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #222250;
}

.input-foot:hover {
  transform: scale(105%);
}
.input-foot:active {
  outline: none;
}
.input-foot:focus {
  outline: none;
}
.button-foot {
  background-color: transparent;
  border: solid 2px #222250;
  border-radius: 1rem;
  transition: 0.4s;
}
.button-foot:hover {
  color: antiquewhite;
  background-color: #222250;
}

/*CONTACTO-FOOT*/
.icon-foot {
  text-align: end;
  font-size: 30px;
  color: #222250;
  padding: 0 2rem;
}


/* MODAL REGISTRO */

.fondo-1{

  background-image: url(./imagenes/fondomodal.jpg);
  background-size: cover;
    }
  .slide-right{
    width: 500px;
    height: 300px;
  }
  
    .slide-right {
      -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  
    @keyframes slide-right {
      0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
      }
      100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
    }
    .btn-form{
      padding: 0;
      font-size: 15px;
    }
  
    .form-opacidad{
  padding-left: 100px;
  
  animation: opacidad 5s;
    }
  
    @keyframes opacidad {
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }